.OrderDetail {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3vmin;
    font-size: 1.3vmin;
    color: var(--pink);
  }
  
  .OrderDetail .sectionHeading {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Add space between "NEW ORDER" and the date */
    align-items: center; /* Center align the items vertically */
    margin-bottom: 10px;
  }
  
  .OrderDetail .lineItemContainer {
    margin-top: 3vmin;
    justify-content: flex-start;
    height: calc(100vh - 18vmin);
    width: 100%;
  }
  
  .OrderDetail .total {
    width: 100%;
    display: grid;
    grid-template-columns: 18.35vw 5.75vw 5.25vw;
    padding: 1vmin 0;
    color: var(--text-dark);
    border-top: .1vmin solid var(--pink);
  }
  
  .OrderDetail .total span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    color: var(--text-dark);
  }
  
  .OrderDetail .total span.right {
    display: flex;
    justify-content: flex-end;
  }
  
  .OrderDetail .hungry {
    position: absolute;
    top: 50vh;
    font-size: 2vmin;
  }