.LineItem {
    width: 100%;
    display: grid;
    grid-template-columns: 2vw 15vw 5vw 5vw;
    padding: 0.5vmin 0;
    color: black;
    background-color: var(--white);
    border-top: 0.1vmin solid var(--pink);
    font-size: 1vw;
  }
  
  /* Adjust the image size */
  .LineItem .image {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    background-size: cover;
  }
  
  .LineItem:last-child {
    border-bottom: 0.1vmin solid var(--pink);
  }
  
  .LineItem .qty,
  .LineItem .extPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .LineItem .qty,
  .LineItem .extPrice {
    font-size: 0.8vw;
  }
  
  .LineItem button {
    margin: 0;
  }
  